body
{
	text-align: center;
	font-family:Arial;
}

h1 
{

}

h2
{
	width: 100%;
	background: #999;
	padding: 10px;
}

h3
{
	font-size: 1.2em;
	width: 50%;
	max-height: 5em;
	color: black;
}

h4
{
	text-align:center;
	font-size: medium;
}

#skills 
{
	max-width:900px;
	margin: auto;
}

span.line {
  display: block;
	font-weight: bold;
	padding: 5px;
	font-size: 0.9em;
	text-align:center;
}

#competences
{
	width:45%;
	max-width: 400px;
	font-size: 0.8em;
	text-align:left;
	align-self: center;
}

p.outils
{
	text-align: center;
}

#project
{
	width: 45%;
	max-width: 400px;
	font-size: 0.8em;
	text-align:left;
	align-self: center;
}

.align
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.accordion-container{
	position: relative;	
	background: #999;
	width: 100%;
	min-height: 5em;
	text-align: center;
}

.pair
{

}
.impair
{

}

.accordion-toggle {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 1px;
	min-height: 5em;
	background: #999;
	color: #fff;
	align-items: center;
}

.accordion-toggle:hover
{
	cursor: pointer; 
}

.accordion-toggle.open,.accordion-toggle:hover {
	background: #333;
}
.accordion-toggle span.toggle-icon {
	position: absolute;
	top: 9px;
	right: 20px;
	font-size: 1.5em;
}
.accordion-content {
	display: none;
}

.git {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin: 15px;
}
.git:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.git:active {
	margin: 15px;t
}

.skill_icon
{
	height: 1.1em;
	padding-right: 10px;
}

.skill_icon2
{
	/*display: inline-block;*/
	margin-left: 0.5em;
	height: 1.5em;
}

.skill_tile
{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
	width: 250px;
	height: 250px;
	margin: 5px;
	padding: 5px;
	border-radius:6px;
	border:1px solid #dcdcdc;
}

