a
{
	text-decoration: none;
	color: #4c5175;
	font-weight: bold;
}

body
{
	text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
	overflow-x: hidden;
	color: #777;
}

h1 
{
	font-size: medium;
	color: #333;
}

h2
{
	width: 100%;
	padding: 10px;
	text-align: center;
	margin-top: 80px;
	color: #bce7d9;
}

h3
{
	font-size: 1.2rem;
	max-height: 5rem;
	color: #555	;
	width: 80%;
}

h4
{
	text-align:center;
	font-size: medium;
	margin-top: 40px;
}

iframe
{
	width: 560px;
	height: 315px;
}

p
{
	font-size: small;
	margin: 10px;
	line-height:1.2rem;
}

p.outils
{
	text-align: center;
}

p.caption
{
}

span.line {
  display: block;
	font-weight: bold;
	padding: 5px;
	font-size: 0.9em;
	text-align:center;
	margin: 10px;
	margin-bottom:0px;
}

video
{
	border:1px solid #dcdcdc;
}

#contact
{
	order: 3;
	text-align: left;
	margin: 0px 10% 25px auto;
}

#header
{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	margin: auto;
	max-height: 400px;
	max-width: 800px;
	margin-top: 50px;
}
	
#In-CV
{
	display: flex;
	order: 2;
	margin: 20px 10% 20px auto;
}

#info_perso
{
	order: 1;
	width: 200px;
	margin: 25px auto 25px 10%;
	text-align: left;
}

#languages
{
	font-size: 0.8em;
	text-align:left;
	padding-left: 20px;	
	margin-right: 10px;
	line-height:1.2rem;
}

#skills 
{
	display: flex;
	flex-wrap: wrap;
	max-width:900px;
	margin: auto;
	justify-content: center;
}

#wroclaw
{
	width: 80%;
	max-width: 650px;
	margin-bottom: 20px;
}

.align
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.accordion-container{
	position: relative;	
	width: 90%;
	max-width: 1000px;
	margin: auto;
	min-height: 5em;
	box-shadow: 2px 2px 5px 1px rgba(0, 0, 0, 0.1);
	background: #fdfdfd;
}

.accordion-toggle {
	display: flex;
	justify-content: space-around;
	position: relative;
	border:1px solid rgba(0, 0, 0, 0.05);
	margin-top: 10px;
	padding: 8px;
	min-height: 5rem;
	/*background: #b8ffbb;*/
	align-items: center;
}

.accordion-toggle:hover
{
	cursor: pointer; 
}

.accordion-toggle.open, .accordion-toggle:hover{
	background: #e1e8ec;
}

.accordion-content {
	display: none;
	padding-bottom: 15px;
}

.buttons
{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
}

.citation
{
	text-align: right;
	font-size: small;

	max-width: 640px;
	margin: 30px auto;
	padding: 15px;
	border-radius:6px;
	border:1px solid #dcdcdc;
}

.citation > p
{
	font-style: italic;
	text-align: left;
}

.competences
{
	max-width: 400px;
	font-size: 0.8em;
	text-align:left;
}

.gif
{
	max-width:600px;
	width: 95%;
}

.git {
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
	background: #bce7d9;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	font-size:12px;
	font-weight:bold;
	padding:10px 30px;
	text-decoration:none;
	margin: 15px 30px 0px 30px;
}
.git:hover {
	background: #a1ddc9;
}
.git:active {
	margin: 30px;
}

.icons
{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	width: 20%;
	margin: 10px;
	height: 5rem;
}

.InCV
{
	font-size: 2rem;
	line-height: 2.5rem;

	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.1);
	background: #bce7d9;

	margin: 5px;
	padding: 4px;
	width: 45px;
	height: 45px;
	border-radius:6px;
}

.InCV:hover 
{
	background: #a1ddc9;
}

.media
{
	margin-top: 40px;
}

.project
{
	max-width: 400px;
	text-align:left;
}

.skill_icon
{
	height: 1.1em;
}

.skill_icon2
{
	margin: 5px;
	height: 1.3em;
}

.skill_tile
{
	vertical-align: middle;
	text-align: left;
	width: 250px;
	min-height: 285px;
	margin: 5px;
	padding: 5px;
	border-radius:6px;
	border:1px solid #dcdcdc;
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: medium;
  }

	iframe
	{
		width: 95%;
		height: 95%;
	}

	.buttons
	{
		flex-flow: column;
	}
	
	.citation
	{
		margin: 30px 20px;
	}

	.git {
		margin-top: 15px;
		padding:10px 20px;
	}
	
	.icons
	{	
		margin: 5px;
	}

	.skill_icon2
	{
		height: 0.75rem;
		margin: 5px;
	}
	
	#header
	{
		flex-flow: row wrap;
		justify-content: center;
		max-height:800px;
	}

	#info_perso
	{
		order: 2;
		text-align: center;
		margin: auto;
	}

	#In-CV
	{
		order: 1;
		margin: 25px;
	}
	
	#contact
	{
		margin-top: 25px;	
	}
}
@media screen and (max-width: 800px) {
	.citation
	{
		margin: 30px 20px;
	}
}
