a
{
	text-decoration: none;
	color: #777;
}

body
{
	text-align: center;
  font-family: 'Montserrat', Arial, sans-serif;
	overflow-x: hidden;
	color: #777;
}

h1 
{
	font-size: medium;
}

h2
{
	width: 100%;
	padding: 10px;
	text-align: center;
	margin-top: 80px;
	color: #6bb96b;
}

h3
{
	font-size: 1.2rem;
	max-height: 5rem;
	color: #555	;
}

h4
{
	text-align:center;
	font-size: medium;
	margin-top: 40px;
}

p
{
	font-size: small;
	margin: 10px;
	line-height:1.2rem;
}

p.outils
{
	text-align: center;
}

span.line {
  display: block;
	font-weight: bold;
	padding: 5px;
	font-size: 0.9em;
	text-align:center;
	margin: 10px;
	margin-bottom:0px;
}

video
{
	border:1px solid #dcdcdc;
	margin-top: 40px;
}

#CV
{
	margin: 5px;
	font-weight: bold;
	padding: 5px;
	border-radius:6px;
	border:1px solid #dcdcdc;
}

#contact
{
	order: 3;
	width: 200px;
	margin:25px;
}

#header
{
	display: flex;
	flex-flow: column wrap;
	justify-content: space-between;
	align-items: center;
	margin:auto;
	max-height: 400px;
	max-width: 800px;
	margin-top: 50px;
}

#In
{
	height: 1.8rem;
	margin-top: 4px;
}

#In-CV
{
	display: flex;
	order: 2;
	align-items: center;
	justify-content: center;
	width: 200px;
	margin: 25px;
}

#info_perso
{
	order: 1;
	width: 200px;
	margin:25px;
}

#languages
{
	font-size: 0.8em;
	text-align:left;
	padding-left: 20px;	
	margin-right: 10px;
	line-height:1.2rem;
}

#skills 
{
	display: flex;
	flex-wrap: wrap;
	max-width:900px;
	margin: auto;
	justify-content: center;
}

.align
{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.accordion-container{
	position: relative;	
	width: 100%;
	min-height: 5em;
	text-align: center;
}

.accordion-toggle {
	display: flex;
	justify-content: center;
	position: relative;
	margin-top: 1px;
	min-height: 5rem;
	background: #94ff94;
	align-items: center;
}

.accordion-toggle:hover
{
	cursor: pointer; 
}

.accordion-toggle:hover {
	background: #7eda7e;
}
.accordion-toggle span.toggle-icon {
	position: absolute;
	top: 9px;
	right: 20px;
	font-size: 1.5em;
}
.accordion-content {
	display: none;
}

.competences
{
	max-width: 400px;
	font-size: 0.8em;
	text-align:left;
}

.git {
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf));
	background:-moz-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-webkit-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-o-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:-ms-linear-gradient(top, #ededed 5%, #dfdfdf 100%);
	background:linear-gradient(to bottom, #ededed 5%, #dfdfdf 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf',GradientType=0);
	background-color:#ededed;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #dcdcdc;
	display:inline-block;
	cursor:pointer;
	color:#777777;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	margin: 30px;
}
.git:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed));
	background:-moz-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-webkit-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-o-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:-ms-linear-gradient(top, #dfdfdf 5%, #ededed 100%);
	background:linear-gradient(to bottom, #dfdfdf 5%, #ededed 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed',GradientType=0);
	background-color:#dfdfdf;
}
.git:active {
	margin: 30px;
}

.icons
{
	display: flex;
	flex-wrap: wrap;
	align-content: center;
	justify-content: center;
	max-width: 20%;
	margin: 10px;
	height: 5rem;
}

.project
{
	max-width: 400px;
	text-align:left;
}

.skill_icon
{
	height: 1.1em;
	margin-right: 10px;
}

.skill_icon2
{
	margin: 10px;
	height: 1.3em;
}

.skill_tile
{
	vertical-align: middle;
	text-align: left;
	width: 250px;
	min-height: 285px;
	margin: 5px;
	padding: 5px;
	border-radius:6px;
	border:1px solid #dcdcdc;
}

@media screen and (max-width: 640px) {
  h3 {
    font-size: medium;
  }
	
	.icons
	{	
		margin: 5px;
	}

	.skill_icon2
	{
		height: 0.7rem;
		margin: 5px;
	}
	
	#header
	{
		flex-flow: row wrap;
		justify-content: center;
		max-height:800px;
	}

	#info_perso
	{
		order: 2;
	}

	#In-CV
	{
		order: 1;
	}

